body{
            background-color: aliceblue;
        }
        h1{
            text-align: center;
            color: black;
            padding-block-end: 50px;
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            border: 1px solid black;
            
        }
        nav{
            
            margin: 0 35px;
            display: flex;
            flex-direction: row;

            color: #111a21;
            font-weight: bold;
            gap: 2rem;
            justify-content: flex-end;
            align-items: center;
            
        }
        a {
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            font-size:20px ;
        }