body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

}
h1, h2, h3{
    color: #444;
    text-align: center;

}
form{

    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;

}
input[type="text"], input[type="email"], input[type="password"] , select, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}